#id-partners.partners
    .wrapper
        h2 Partners
        p Our friends who helped the hackathon take place
        
        .partners-list
            .partners-list__item
                img(src="./images/near-dev-hub-color.svg")
            .partners-list__item
                img(src="./images/incrypted-color.svg")
            .partners-list__item
                img(src="./images/pitchtalk-color.svg")
            .partners-list__item
                img(src="./images/here-color.svg")