#id-blog.blog
    .wrapper
        .block-prev
            h2 Read about us
            p Learn more about HOT Protocol from selected articles
        
        .blog-list.grid
            a(href="#").blog-list__item.grid-item
                img(src="./images/news-1.png")
                .blog-list__item-content
                    h3 What is the HOT Protocol SDK
                    p What is the HOT Protocol SDK, and how do I get started with it for the hackathon?What is the HOT Protocol SDK, and how do I get started with it for the hackathon?What is the HOT Protocol SDK, and how do I get started with it for the hackathon? What is the HOT Protocol SDK, and how do I get started with it
            
            a(href="#").blog-list__item.grid-item
                img(src="./images/news-2.png")
                .blog-list__item-content
                    h3 What is the HOT Protocol SDK
                    p What is the HOT Protocol SDK, and how do I get started with it for the hackathon?

            a(href="#").blog-list__item.grid-item
                img(src="./images/news-3.png")
                .blog-list__item-content
                    h3 What is the HOT Protocol SDK, and how do I get started with it for the hackathon?
                    p What is the HOT Protocol SDK, and how do I get started with it for the hackathon?
                
            a(href="#").blog-list__item.grid-item
                img(src="./images/news-4.png")
                .blog-list__item-content
                    h3 What is the HOT Protocol SDK, and how do I get started with it for the hackathon?
                    p What is the HOT Protocol SDK, and how do I get started with it for the hackathon?
                
            a(href="#").blog-list__item.grid-item
                img(src="./images/news-5.png")
                .blog-list__item-content
                    h3 What is the HOT Protocol SDK, and how do I get started with it for the hackathon?
                    p What is the HOT Protocol SDK, and how do I get started with it for the hackathon?
                
            a(href="#").blog-list__item.grid-item
                img(src="./images/news-6.png")
                .blog-list__item-content
                    h3 What is the HOT Protocol SDK, and how do I get started with it for the hackathon?
                    p What is the HOT Protocol SDK, and how do I get started with it for the hackathon?