#id-prizes.usd
    .wrapper
        .usd-prev
            h4 Share the prize fund worth of
            h1
                span 15,000
                span USD
        .usd-list
            .usd-list__item
                .usd-list__place.usd-list__place_1
                    span 1st
                    span place
                .usd-list__count $7000
                .usd-list__btn
                    img(src="./images/plus.svg").usd-list__plus
                    .usd-list__integrate Your app will be integrated into HOT App
            .usd-list__item
                .usd-list__place.usd-list__place_2
                    span 2st
                    span place
                .usd-list__count $5000
            .usd-list__item
                .usd-list__place.usd-list__place_3
                    span 3st
                    span place
                .usd-list__count $3000