#id-task.task
    .wrapper
        h2 Tasks
        p
            | The main task is to create either a 
            span bot or mini-app 
            | over HOT Protocol SDK
        h5 Participating teams must develop a prototype software (prototype) within a limited time. Applications must be unique and useful for HOT users.

        .task-list
            .task-list__item
                img(src="./images/mingcute.svg")
                span Bot on HOT Protocol
            .task-list__item
                img(src="./images/white-fire.svg")
                span Mini-app on HOT Protocol
            .task-list__item
                img(src="./images/key.svg")
                span Login with HOT
            .task-list__item
                img(src="./images/icon-arrow-double.svg")
                span Funds transfer signing
            .task-list__item
                img(src="./images/shield.svg")
                span Transaction signing
        
        .task-sep

        .task-links
            a(href="#", target="_blank").task-link Tutorial hello world
            a(href="#", target="_blank").task-link Create HOT Wallet
            a(href="#", target="_blank").task-link Docs