.menu
    .wrapper
        .menu-group
            .icon-burger
                img(src="./images/menu-burger.svg", alt="Mobile menu").burger-closet
                img(src="./images/menu-close.svg", alt="Mobile menu").burger-open
            .logo
                img(src="./images/here.png")
        .link-lists
            a(href="#",data-url="id-prizes").link Prizes
            a(href="#",data-url="id-task").link Tasks
            a(href="#",data-url="id-judges").link Judges
            a(href="#",data-url="id-partners").link Partners
            a(href="#",data-url="id-faq").link FAQ
        a(href="https://pitchtalk.com/en/events/Hot-App-Hackathon",target="_blank").btn.btn_gray.btn_header
            | Learn&nbsp;more
        .menu-social__list
            a(href="https://x.com/hotdao_",target="_blank").menu-social__item.menu-social__item_x
            a(href="https://www.youtube.com/@hot-dao",target="_blank").menu-social__item.menu-social__item_you
            a(href="https://t.me/hotonnea",target="_blank").menu-social__item.menu-social__item_tel
