#id-faq.asks
    .wrapper
        .asks-prev
            h2 FAQ
            p Find answers to some of the most common questions
        .asks-blocks
            .ask-block
                .ask-block-header
                    p What are the criteria for judging the mini-apps or bots created during the hackathon?
                    img(src="./images/chevron-right.svg")
                .ask-block-body
                    ul
                        li Idea: 0-10
                        li Quality of implementation: 0-10
                        li Number of HOT APIs used: 0-10
                        li Availability of the on chain part (signing transactions): 0-5
                        li Design (for web app): 0-5
            
            .ask-block
                .ask-block-header
                    p Can I participate in the hackathon individually, or do I need a team?
                    img(src="./images/chevron-right.svg")
                .ask-block-body
                    p Yes, you can participate individually.

            
            .ask-block
                .ask-block-header
                    p Is there any prerequisite knowledge required to participate in the hackathon?
                    img(src="./images/chevron-right.svg")
                .ask-block-body
                    p From the software engineering perspective: JS, Rust. Also good to know some NEAR documentation. Also here is the video from our dev that can help: <a href="https://youtu.be/_i7rYHWIQ4Q" target="_blank">https://youtu.be/_i7rYHWIQ4Q</a>