#id-judges.judges
    .wrapper
        h2 Judges

        .judges-list
            .judges-list__column
                .judges-list__item
                    img(src="./images/volnov.png", alt="Peter Volnov")
                    .judges-list__title
                        span
                        h3 Peter Volnov
                    p HOT Head of Back-end
                .judges-list__item
                    img(src="./images/briuzgin.jpg", alt="Nik Briuzgin")
                    .judges-list__title
                        span
                        h3 Nik Briuzgin
                    p HOT Head of design
                .judges-list__item
                    img(src="./images/mitsevich.jpg", alt="Pavel Mitsevich")
                    .judges-list__title
                        span
                        h3 Pavel Mitsevich
                    p Marketing and bizdev
            .judges-list__column
                .judges-list__item
                    img(src="./images/zhevlakov.jpg", alt="Andrey Zhevlakov")
                    .judges-list__title
                        span
                        h3 Andrey Zhevlakov
                    p HOT Head of Front-end
                .judges-list__item
                    img(src="./images/olentir.jpg", alt="Yurii Olentir")
                    .judges-list__title
                        span
                        h3 Yurii Olentir
                    p HEAD of Ecosystem
        