#id-judges.judges
    .wrapper
        h2 Judges

        .judges-list
            .judges-list__column
                .judges-list__item
                    img(src="./images/volnov.png", alt="Peter Volnov")
                    .judges-list__title
                        span
                        h3 Peter Volnov
                    p CEO & co-founder #[a(href="https://hot-labs.org", target="_blank", rel="noopener noreferrer") HOT Labs]
                .judges-list__item
                    img(src="./images/briuzgin.jpg", alt="Nik Briuzgin")
                    .judges-list__title
                        span
                        h3 Nik Briuzgin
                    p CDO & co-founder #[a(href="https://hot-labs.org", target="_blank", rel="noopener noreferrer") HOT Labs]
                .judges-list__item
                    img(src="./images/mitsevich.jpg", alt="Pavel Mitsevich")
                    .judges-list__title
                        span
                        h3 Pavel Mitsevich
                    p CPO & co-founder #[a(href="https://hot-labs.org", target="_blank", rel="noopener noreferrer") HOT Labs]
            .judges-list__column
                .judges-list__item
                    img(src="./images/zhevlakov.jpg", alt="Andrey Zhevlakov")
                    .judges-list__title
                        span
                        h3 Andrey Zhevlakov
                    p CTO & co-founder #[a(href="https://hot-labs.org", target="_blank", rel="noopener noreferrer") HOT Labs]
                .judges-list__item
                    img(src="./images/olentir.jpg", alt="Yurii Olentir")
                    .judges-list__title
                        span
                        h3 Yurii Olentir
                    p Head of Ecosystem #[a(href="https://hot-labs.org", target="_blank", rel="noopener noreferrer") HOT Labs]
                .judges-list__item
                    img(src="./images/lebedev.jpg", alt="Andry Lebedev")
                    .judges-list__title
                        span
                        h3 Andry Lebedev
                    p CEO & co-founder #[a(href="https://swipelux.com/", target="_blank", rel="noopener noreferrer") Swipleux]
        
