#id-judges.judges
    .wrapper
        h2 Judges

        .judges-list
            .judges-list__column
                .judges-list__item
                    img(src="./images/volnov.png", alt="Peter Volnov")
                    .judges-list__title
                        span
                        h3 Peter Volnov
                    p HOT Co-Founder
                    p Back-end engineer
                .judges-list__item
                    img(src="./images/briuzgin.jpg", alt="Nik Briuzgin")
                    .judges-list__title
                        span
                        h3 Nik Briuzgin
                    p HOT Co-Founder
                    p Head of design
                .judges-list__item
                    img(src="./images/mitsevich.jpg", alt="Pavel Mitsevich")
                    .judges-list__title
                        span
                        h3 Pavel Mitsevich
                    p Marketing and bizdev
            .judges-list__column
                .judges-list__item
                    img(src="./images/zhevlakov.jpg", alt="Andrey Zhevlakov")
                    .judges-list__title
                        span
                        h3 Andrey Zhevlakov
                    p HOT Front-end lead
                .judges-list__item
                    img(src="./images/olentir.jpg", alt="Yurii Olentir")
                    .judges-list__title
                        span
                        h3 Yurii Olentir
                    p HEAD of Ecosystem
                .judges-list__item
                    img(src="./images/white.jpg", alt="Jason White")
                    .judges-list__title
                        span
                        h3 Jason White
                    p Head of design
        