.footer
    .wrapper
        .footer-logo
            img(src="./images/here.png")
        .footer-social
            .footer-social__list
                a(href="https://x.com/hotdao_",target="_blank").footer-social__item.footer-social__item_x
                a(href="https://www.youtube.com/@hot-dao",target="_blank").footer-social__item.footer-social__item_you
                a(href="https://t.me/hotonnear",target="_blank").footer-social__item.footer-social__item_tel
        .footer-copy © 2024 HOT Protocol
        